---
import RadioPlayer from "../components/radio-player.astro";
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout>
  <div style="flex: 1; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <RadioPlayer />
  </div>
</DefaultLayout>
