---
import RadioPlayer from "../components/radio-player.astro";
import DefaultLayout from "../layouts/default.astro";

const tracks = [
  { artist: "BOB DYLAN", title: "LIKE A ROLLING STONE" },
  { artist: "MATT CHAMPION", title: "SLUG" },
  { artist: "GORILLAZ", title: "TICKER TAPE" },
  { artist: "QUANTIC", title: "ATLANTIC OSCILLATIONS" },
  { artist: "MGMT", title: "MOTHER NATURE" },
  { artist: "VAMPIRE WEEKEND", title: "M79" },
  { artist: "NOBUO UEMATSU", title: "PRELUDE" },
  { artist: "KENDRICK LAMAR", title: "LUST." },
  { artist: "GEESE", title: "COBRA" },
];
---

<DefaultLayout>
  <div style="flex: 1; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <RadioPlayer
      title="EP01 - TELEPHONE"
      description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper"
      audioSrc="/music.mp3"
      tracks={tracks}
    />
  </div>
</DefaultLayout>
