---
import DefaultLayout from "../layouts/default.astro";
import RadioPlayer from "./radio-player.astro";

interface Props {
  title?: string;
  description?: string;
  audioSrc?: string;
  image?: string;
  tracks?: {
    artist: string;
    title: string;
  }[];
}

const { title, description, audioSrc, tracks, image } = Astro.props;
console.log(image);
const hasEpisode = title && description && audioSrc && tracks;
---

<DefaultLayout>
  <div class="page-flow">
    {
      hasEpisode && (
        <RadioPlayer
          title={title!}
          image={image!}
          description={description!}
          audioSrc={audioSrc!}
          tracks={tracks!}
        />
      )
    }
  </div>
</DefaultLayout>

<style>
  .page-flow {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 100dvh;
    box-sizing: border-box;
    pointer-events: none;
  }
</style>

<script>
  const audio = document.querySelector("audio") as HTMLAudioElement | null;

  if (audio && "mediaSession" in navigator) {
    navigator.mediaSession.metadata = new MediaMetadata({
      title: "Consolidated Radio",
      artist: "Live Stream",
      album: "",
      artwork: [
        {
          src: "https://consolidated.radio/badgeicon-cream.png",
          sizes: "512x512",
          type: "image/png",
        },
      ],
    });

    navigator.mediaSession.setActionHandler("play", () => audio.play());
    navigator.mediaSession.setActionHandler("pause", () => audio.pause());
    navigator.mediaSession.setActionHandler("stop", () => {
      audio.pause();
      audio.currentTime = 0;
    });
  }
</script>
